@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the board games kingdom</h1>
    
    <p>The author of this page is: Adrianna Bieniek</p>
</div>

<div class="d-flex justify-content-center">
    
    <img src="~/Images/photo.jpg" alt="Sample Photo" width="500" />

</div>
